.home-container {
  padding-bottom: 20%;
}

.home-container h1 {
  color: white;
  font-size: 81px;
  margin-bottom: -0px;
}

.home-container p {
  color: rgb(135, 135, 135);
}
.get-started-btn {
  margin-top: 15%;
  margin-left: 110px;
  
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 40px;
  border: none;
  background-color: var(--ugreen);
  font-size: 18px;
}
.All-research-img {
  margin-top: 0px;
  font-family: "GoodDog New W00 Regular";
  transform: rotate(10deg);
  color: white;
}
.All-research-img p {
  color: white;
}

.btn-research-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.home-upper-conatiner {
  display: flex;
  flex-direction: column;
}

.box-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-text img {
  margin-top: 15px;
}

.box {
  display: flex;
  /* margin-top: 10%; */
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  border: none;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  width: 341px;
  height: 90.54px;
  position: relative;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5)
}

.box p {
  color: white;
  font-size: 23.81px;
}

.box img {
  height: 31.74px;
  width: 37.74px;
}

.gradientx {
 
 
}

.gradientx p {
  /* background-image: linear-gradient(to right, rgb(24,24,24) 0%,rgb(24,24,24) 50%, rgb(24,24,24) 100%); */

  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 1) 100%); */

  /* background-image: linear-gradient(to right, rgb(24,24,24)  0%, rgba(0, 0, 0, 0) 100%); 
    background-position: right; 
  position: absolute; */
  /* padding-left: 25px; */

}

.gradientl p {
  position: relative;

  /* background-image: linear-gradient(to left, rgb(24,24,24)  10%, rgba(0, 0, 0, 0) 100%); */

  /* background-image: linear-gradient(to right, rgb(24,24,24)  0%, rgba(0, 0, 0, 0) 100%); 
    background-position: right;  */

  /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.gradientl p {
  background: linear-gradient(to right, white 0%, rgb(24,24,24) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first {
  transform: rotate(-9deg);
}
.second{
    transform: rotate(4deg);
}

#balll img{
    border-radius: 50%;
}


.home-box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
}

#one{
z-index: 5;
position: absolute;
left: 9%;
}

#two{
z-index: 4;
position: absolute;
left: 26%;
margin-top: 70px;
}

#three{
    position: absolute;
    left: 46%;
}

#four{
    position: absolute;
    left: 64%;
    margin-top: 70px;
}


@media (max-width: 768px) {
    .home-box-container{
        flex-direction: column;
        
    }

.first{
   
}
.second{
  
}

    #one{
      position: relative;
     left: 2%;
  
        
        }
        
        #two{
            position: relative;
            left: 2%;
            margin-top: 0;
        }
        
        #three{
            position: relative;
            left: 2%;
        }
        
        #four{
            position: relative;
            left: 2%;
            margin-top: -0px;
        }
        .get-started-btn { 

          flex-direction: row;
        }

        .home-container h1 {
     
          font-size: 36px;
          
        }
        #home-parah ,.btn-research-conatiner button{
       font-size: 14px;
        }
}